<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name=".PlayNowActivity"
            android:label="@string/playing_now_title"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Saved.SavedActivity"
            android:label="@string/saved_songs_title"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Suggested.SuggestionActivity"
            android:label="@string/suggestions_for_you_title"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Trending.TrendingActivity"
            android:label="@string/trending_songs_title"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity"
            android:label="@string/page_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>